body{
    font-family: 'Roboto', 'Raleway', 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
/*the body has a natural margin within it, so we remove it*/
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

/*Also, we need to remove the styles and bullets from lists*/
ul,
ol{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}
li,
a{
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', 'Raleway', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f0f0f0;
}

/*To keep all the contents inside the body with some space but keeping their backgrounds*/
.header,
.sign-up,
.info,
.quote,
.sign-up_2,
.footer {
    padding-left: 250px;
    padding-right: 250px;
}

.header,
.footer,
.sign-up{
    background-color: #4c5b81;
}

.header{
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 50px 1px -1px rgba(0,0,0,0.75);
}

.header,
.sign-up_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{    
    flex: 1;
}

.logo img{
    max-width: 50px;
    height: auto;
}

.logo,
.links{
    display: flex;
}

.sign-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome{
    max-width: 500px;
    gap: 16px;
    color: #f0f0f0;
}

h1{
    font-size: 40px;
    font-weight: 900;
}

h3{
    font-size: 18px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 20px;
}

.buttons{
    display: flex; 
    flex: 1 1 auto;
    flex-wrap: wrap;
    gap: 22px;
}

button{
    padding: 8px;
    background-color: transparent;
    width: 160px;
    font-size: 14px;
}

.neco1 img{
    display: flex;
    flex: 1 1 auto;
    max-height: 400px;
    width: auto;
}


.quote{

}

.sign-up_2{
    flex: 1 1 auto;
    margin: 50px;
    padding: 20px 40px;
    border-radius: 10px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}