body{
    font-family: 'Roboto', 'Raleway', 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
/*the body has a natural margin within it, so we remove it*/
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

/*Also, we need to remove the styles and bullets from lists*/
ul,
ol{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}
li,
a{
    list-style-type: none;
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    font-family: 'Roboto', 'Raleway', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b68272;
}

/*To keep all the contents inside the body with some space but keeping their backgrounds*/
.header,
.sign-up,
.info,
.quote,
.sign-up2,
.footer {
    padding-left: 300px;
    padding-right: 300px;
}

.header,
.sign-up{
    background-color: #f8d8b1;
}

.header{
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 50px 1px -1px rgba(0,0,0,0.75);
}

.header,
.sign-up_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{    
    flex: 1;
}
 
.logo a,
.logo img{
    max-width: 50px;
    height: auto;
}

.logo,
.logo a,
.links{
    display: flex;
}

.sign-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
}

.welcome{
    max-width: 500px;
    gap: 16px;
    color: #b68272;
}

h1{
    font-size: 40px;
    font-weight: 900;
}

h3{
    font-size: 18px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 20px;
}

.buttons{
    display: flex; 
    flex: 1 1 auto;
    flex-wrap: wrap;
    gap: 22px;
}

.buttons button{
    border: 2px solid  #ffffff;
    border-radius: 20px;
    padding: 8px;
    background-color: #ffffff;
    width: 160px;
    font-size: 14px;
    font-family: 'Raleway', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #a40000;
    font-weight: 700;
}

.neco1 img{
    display: flex;
    flex: 1 1 auto;
    max-height: 365px;
    width: auto;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #ffffff;
    padding: 40px 0px;
    gap: 12px;
}

.info_title,
.block{
    font-family: 'Roboto', 'Raleway', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #65696d;
}

.info_title{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: 800;
    font-size: 30px;
}

.images{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 20px;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

.block img{
    display: flex;
    flex: 1 1 auto;
    max-height: 250px;
    width: auto;
}

.block .desc{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    width: 225px;
}

.quote{
    background-color: #4c5b81;
    display: flex;
    flex: 1 1 auto;
    height: 400px;
    width: auto;
    gap: 10px;
}

.quote_body{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    max-width: 800px;
}

.quote_text em{
    color: #ffffff;
    font-family: 'Roboto', 'Raleway', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote_author{
    color: #ffffff;
    font-family: 'Roboto', 'Raleway', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 12px;
}

.quote_img{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.quote_img img{
    width: 150px;
    height: 150px;
    border: 1px solid transparent;
    border-radius: 100%;
}

.sign-up2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    flex: 1 1 auto;
    margin: 20px 40px;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #4a4e51; 
}

.sign-up2_text{

}

.sign-up2 button{

}

.footer{
    color: #ffffff;
    font-family: 'Roboto', 'Raleway', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5f504c;
    flex: 1 1 auto;
    padding: 20px;
}